:root {
    --main-bg-color: #151515;
    --main-text-color: #fff;
    --accent-color: aquamarine;
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --secondary-bg-color: #252525; 
    --card-hover-bg-color: #2c2c2c;
    --card-shadow: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: var(--font-family)
}

.nav .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.logo {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    float: right;
    display: inline;
    padding: 10px;
}

li a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--main-text-color);
    position: relative;
    overflow: hidden;
    font-size: 18px;;
}

li a:hover {
    color: var(--accent-color);
}

li a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--accent-color);
    left: 50%;
    bottom: -5px;
    transition: all 0.3s ease-in-out;
}

li a:hover::before {
    width: 100%;
    left: 0;
}

/* Main */

.main {
    height: 100vh;
    background-image: url(/img/main-photo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;;
}

.main span {
    color: var(--accent-color);
}

.main h1 {
    font-size: 45px;
}

.main p {
    font-size: 20px;
}

/* About */
.about {
    height: 50vh;
    margin: 50px auto;
    max-width: 1000px;
}

.container-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: var(--secondary-bg-color);
    padding: 50px 20px;
    border-radius: 10px;
}

.about .item1 {
    grid-column: 1 / -1;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.about .item2 {
    justify-self: center;
}

.about .item2 img {
    border-radius: 50%;
    object-fit: cover;
}

.about .item3 {
    align-self: center;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}

/* Skills */
.skills {
    padding: 50px 20px;
    margin: 50px auto;
    max-width: 1200px;
}

.skills .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.skills h1 {
    grid-column: 1 / -1;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.skill-card {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    padding: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px var(--card-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.skill-card:hover {
    background-color: var(--card-hover-bg-color);
    transform: translateY(-10px);
    box-shadow: 0 8px 16px var(--card-shadow);
}

.skill-card h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--accent-color);
}

.skill-card p {
    font-size: 16px;
    line-height: 1.6;
}

.skill-icon {
    font-size: 50px;
    color: var(--accent-color);
    margin-bottom: 20px;
}